/* General Stylings */

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,900italic,900,700,700italic,400italic,300italic,300,100italic&subset=latin,latin-ext);

body > .container-fluid {
	padding: 0;
	font-family: 'Lato', sans-serif;
}

select, a {
	outline: none !important;
}

.main-wrapper {
	padding-top: 88px;
}

/* Header */
.header-wrapper {
	/*max-height: 90px;
	height: 100%;*/
	background-color: rgba(255,255,255,0.9);
	margin-bottom: 0;
	min-height: unset;
	border: none;
}

.header-wrapper > .container {
	position: relative;
	max-height: 88px;
}

.header-wrapper .navbar-brand {
	height: auto;
	padding: 0px;
	margin-left: 0 !important;
}

.header-wrapper .navbar-brand img {
	height: auto;
	max-height: 88px;
}

.header-wrapper .navbar-right-wrapper {
	position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -22px;
    right: 15px;
}

.header-wrapper .navbar-right {
	margin-right: 0;
}

.header-wrapper .navbar-right button.btn {
	padding: 4px 12px;
	font-size: 24px;
	outline: 0 !important;
	background: none;
	color: #31b0d5;
}

/* End of Header */

/* Off Screen Nav */

.off-screen-nav {
	position: fixed;
	right: -20%;
	top: 0px;
	z-index: 2000;
	padding: 10px 0;
	background-color: rgb(34, 34, 34);
	height: 100%;
	width: 100%;
	max-width: 20%;
	-moz-transition: right 0.3s ease;
	-webkit-transition: right 0.3s ease;
	-o-transition: right 0.3s ease;
	transition: right 0.3s ease;
	box-shadow: 0px 0px 3px rgb(34, 34, 34);
	background: rgb(17, 17, 17) none repeat scroll
}

.off-screen-nav.show {
	right: 0;
	-moz-transition: right 0.3s ease;
	-webkit-transition: right 0.3s ease;
	-o-transition: right 0.3s ease;
	transition: right 0.3s ease;
}

.off-screen-nav .btn.close {
	position: absolute;
	right: 15px;
	color: #5BC0DE;
	opacity: 1;
	text-shadow: none;
	font-size: 28px;
	outline: none !important;
}

.off-screen-nav ul {
	list-style: none;
	padding-left: 0;
	margin-top: 45px;
}

.off-screen-nav ul li {
	font-size: 18px;
	padding: 20px 30px;
	background: transparent linear-gradient(135deg, transparent 0%, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0% 0%;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-top: 1px solid rgb(17, 17, 17);
	text-transform: uppercase;
}

.off-screen-nav ul li a {
	text-decoration: none;
	color: #5BC0DE;
}

/* End of Off Screen Nav */

/* Body */

.main-wrapper > .container-fluid {
	padding: 0
}

#intro-wrapper, #about-wrapper, #contact-wrapper, #thank-you-wrapper {
	background: #0859b5; /* Old browsers */
	background: -moz-linear-gradient(top, #0859b5 0%, #0563bd 32%, #0566c5 68%, #0471d0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0859b5 0%,#0563bd 32%,#0566c5 68%,#0471d0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0859b5 0%,#0563bd 32%,#0566c5 68%,#0471d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0859b5', endColorstr='#0471d0',GradientType=0 ); /* IE6-9 */
}

#survey-wrapper {
	background: #0471d0; /* Old browsers */
	background: -moz-linear-gradient(top, #0471d0 0%, #0c79d8 25%, #297cd8 51%, #3681de 79%, #367cd4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0471d0 0%,#0c79d8 25%,#297cd8 51%,#3681de 79%,#367cd4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0471d0 0%,#0c79d8 25%,#297cd8 51%,#3681de 79%,#367cd4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0471d0', endColorstr='#367cd4',GradientType=0 ); /* IE6-9 */

	overflow: hidden;
}

#intro-wrapper > .container,
#survey-wrapper > .container,
#survey-form-wrapper > .container {
	/*padding: 0;*/
}

.hr {
	clear: both;
	display: block;
	width: 100%;
	height: 25px;
	line-height: 25px;
	position: relative;
	margin: 30px 0px;
	float: left;
}

.hr-short {
	height: 20px;
	line-height: 20px;
	margin: 30px 0px;
	float: none;
}

.hr-inner {
	position: absolute;
	height: 1px;
	left: 0px;
	top: 50%;
	width: 100%;
	margin-top: -1px;
	border-top-width: 1px;
	border-top-style: solid;
}

.hr-short .hr-inner {
	width: 32%;
	left: 50%;
	margin-left: -16%;
	background-color: #FFF;
	border-color: #fff;
}

.hr-short .hr-inner-style {
	border-radius: 20px;
	height: 9px;
	width: 9px;
	border-width: 2px;
	border-style: solid;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	margin-top: -5px;
	border-color: #fff;
	background-color: #fff;
}

#intro-wrapper > .container,
#survey-wrapper > .container-fluid,
#survey-form-wrapper > .container{
	height: 100%;
	display: table;
	padding: 0px;
}

#intro-wrapper > .container > .row,
#survey-wrapper > .container-fluid > .row,
#survey-form-wrapper > .container > .row {
	display: table-cell;
	vertical-align: middle;
}

#intro-wrapper h1 {
	font-size: 80px;
	margin: 30px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

#intro-wrapper div.desc {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

#intro-wrapper div.desc p {
	margin-bottom: 5px;
}

#intro-wrapper h4 {
	font-size: 30px;
	letter-spacing: 1px;
	margin: 30px;
	color: #fff;
	font-weight: bold;
}

#intro-wrapper .lets-do-btn button {
	width: 100%;
	max-width: 200px;
	display: inline-block;
	background: transparent url("lets-do-blue-btn.png") no-repeat scroll center center / contain;
	height: 150px;
	border: none;
	outline: none !important;
	box-shadow: none !important;
}

#survey-wrapper > .container-fluid {
	position: relative;
	width: 100%;
}

#survey-wrapper > .container-fluid > .row {
	width: 100%;
}

#survey-wrapper > .container-fluid .scroll-p {
	width: 100%;
	height: 150%;
	left: 0;
	top: 0;
	position: absolute;
	background: transparent url("guy-girl-sunset-bg.png") no-repeat scroll center 0px;
}

#survey-wrapper > .container-fluid .desc {
	color: #fff;
	font-size: 20px;
	margin: 12% auto 0;
	padding-top: 5%;
	max-width: 900px;
}

#survey-wrapper .lets-do-btn button {
	width: 100%;
	max-width: 200px;
	display: inline-block;
	background: transparent url("six-questions-survey-btn.png") no-repeat scroll center center / contain;
	height: 150px;
	border: none;
	outline: none !important;
	box-shadow: none !important;
}

#survey-form-wrapper {
	background-color: #000;
}

#survey-form-wrapper .form-wrapper {
	padding: 80px 0;
}

#transition-survey-form {
	max-width: 700px;
	margin: auto;
}

#transition-survey-form .form-head {
	font-size: 30px;
	background-color: #A5D1F3;
	text-align: center;
	color: #000 !important;
	padding: 30px 20px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px 5px 0px 0px;
}

#transition-survey-form .form-body {
	padding: 30px 35px 40px;
	background-color: #FFF;
	border-radius: 0 0 5px 5px;
}

#transition-survey-form .form-body label {
	font-size: 16px;
	color: #000;
	display: block;
}

#transition-survey-form .form-body .inline-group .form-group {
	float: left;
	margin-left: 5%;
	width: 30%;
}

#transition-survey-form .form-body .inline-group .form-group:first-of-type {
	margin-left: 0;
}

#transition-survey-form .form-body .inline-group .form-group label {
	font-size: 14px;
}

#transition-survey-form .form-body .form-submit {
	border: none;
	width: 100%;
	max-width: 300px;
	background-color: #1694F0;
	font-size: 20px;
	text-align: center;
	padding: 8px;
	border-bottom: 4px solid #0C6CB3 !important;
	color: #FFF;
	cursor: pointer;
	border-radius: 5px;
	margin: 0px auto 20px;
	outline: none !important;
}

#transition-survey-form .form-body .form-do-more {
	background: #A6D1F0 none repeat scroll 0% 0%;
	color: #2D2E2D;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
	padding: 20px 5px 25px;
}

#transition-survey-form .form-body .form-do-more span {
	text-transform: uppercase;
	line-height: 30px;
	font-size: 20px;
	color: #008000;
}

#transition-survey-form .form-body .submit-group .helper-text {
	margin: 20px 0px 10px;
}

#transition-survey-form .form-body #set-two {
	display: none;
}

#about-wrapper, #contact-wrapper, #thank-you-wrapper {
	color: rgb(255, 255, 255);
	padding: 40px 0px;
	min-height: 600px;
}

#about-wrapper h1 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 48px;
}

#about-wrapper h4 {
	font-size: 24px;
	margin: 20px 0 60px;
	line-height: normal;
}

#about-wrapper .desc {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 1px;
}

#about-wrapper .desc p {
	margin-bottom: 30px;
}

#about-wrapper .desc p#signature {
	margin: 40px 0 30px; 
}

#about-wrapper .desc p#signature span {
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
}

/* End of Body */

/* Footer */

div.footer {
	background-color: #171717;
	border-top: 1px solid #575757;
	color: #FFF;
	font-size: 11px;
	margin-top: -1px;
	z-index: 1;
	padding: 20px;
}

div.footer .bottom-menu ul {
	list-style: none;
	padding: 0;
	text-align: right;
	margin: 0;
}

div.footer .bottom-menu ul li:before {
	content: '|';
}

div.footer .bottom-menu ul li {
	display: inline;
}

div.footer .bottom-menu ul li:first-child:before {
	content: '';
}

div.footer .bottom-menu ul li a {
	color: #fff;
	padding: 0 8px;
}

div.footer .bottom-menu ul li:last-child a {
	padding-right: 0;
}


/* End of Footer */


/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {

}

/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 1200px) {
	#intro-wrapper h1 {
		font-size: 60px;
	}

	#intro-wrapper div.desc {
		font-size: 16px;
	}

	#intro-wrapper h4 {
		font-size: 28px;
	}
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 992px) {
	#intro-wrapper h1 {
		font-size: 40px;
	}

	#intro-wrapper div.desc {
		font-size: 12px;
	}

	#intro-wrapper h4 {
		font-size: 24px;
	}

	#intro-wrapper .hr-short,
	#survey-wrapper .hr-short {
		margin: 0;
	}

	#survey-wrapper > .container-fluid .desc {
		font-size: 14px;
	}
}

@media only screen and (max-width: 767px) {
	#survey-wrapper > .container-fluid .desc {
		margin: 20% auto 0;
	}

	.header-wrapper .navbar-header {
		display: inline-block;
		margin-left: 5px;
	}

	.header-wrapper .navbar-right {
		margin: 0;
	}

	.off-screen-nav {
		right: -50%;
		max-width: 50%;
	}

	#transition-survey-form .form-body .inline-group .form-group {
		width: 100%;
		margin-left: 0;
	}
}

@media only screen and (max-width: 600px) {
	.off-screen-nav {
		right: -100%;
		max-width: 100%;
	}

	#intro-wrapper h1 {
		font-size: 25px;
		margin: 20px 0;
		line-height: normal;
	}

	#intro-wrapper h4 {
		font-size: 16px;
		margin: 20px 0;
	}

	#survey-wrapper > .container-fluid .desc {
		padding-top: 15%;
		margin: 20% auto 0px;
	}
}

@media only screen and (max-width: 414px) {
	.header-wrapper {
		max-height: unset;
	}

	.header-wrapper > .container {
		max-height: 46px !important;
	}

	.main-wrapper {
		padding-top: 46px !important;
	}

	/*.header-wrapper .navbar-header {
		display: block;
		text-align: center;
		margin: 0px;
	}*/

	.header-wrapper .navbar-brand {
		width: 100%;
	}

	.header-wrapper .navbar-brand img {
		margin: 0 auto;
		max-height: 46px !important;
	}

	/*.header-wrapper .navbar-right-wrapper {
		width: 100%;
		text-align: center;
	}*/

	.header-wrapper .navbar-right {
		padding: 0px;
		margin: 2px 0px;
		position: relative;
		top: 0;
		right: 0;
	}

	.header-wrapper .navbar-right button.btn {
		font-size: 20px;
	}

	#survey-wrapper > .container-fluid .desc {
	    padding-top: 20%;
	}
}