<template name="header">
	<nav class="header-wrapper navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img src="logo.png" alt="Logo" class="img-responsive">
				</a>
			</div>

			<div class="navbar-right-wrapper">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<button class="nav-right-toggle btn btn-info">
							<i class="fa fa-bars"></i>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</template>

<template name="offScreenNav">
	<div class="off-screen-nav">
		<button class="btn close"><i class="fa fa-times"></i></button>
		<ul class="navigation">
			<li class="nav-item"><a href="#">About Us</a></li>
			<li class="nav-item"><a href="#">Contact Us</a></li>
		</ul>
	</div>
</template>