<template name="aboutWrapper">
	<div class="main-wrapper">
		<div class="container-fluid">
			<div id="about-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="text-center">Our Mission</h1>
							<h4 class="text-center">To provide the best most actionable career data for veterans</h4>

							<h1 class="text-center">About Us</h1>

							{{>hrShortInnner}}

							<div class="desc">
								<p>At Project Métier, we come to work everyday motivated to solve the biggest problem in veteran transition.  Everyone is guessing.  Service members don't know the most promising careers.  Private sector employers don't know how to reach veterans, don't know how to translate the military skills and qualifications, or even how much their efforts pay off.</p>

								<p>The founders, Johannes Schonberg, Paul Galasso and Christopher Sheppard, are three military veterans with years of experience in helping veterans transition. </p>

								<p>As a veteran advocate, Johannes Schonberg realized that the primary problem isn't the resume.  It is the inability for employers to understand the military experience and for service members to understand what 21st century careers are available. </p>

								<p>So with Paul and Chris, two fellow Seattle based veteran entrepreneurs, Johannes has set out to create Project Métier (Project Vocation).  </p>

								<p>By compiling the successful veteran transition stories, we can share that data with transitioning service members on our site through a data visualization that will show which military skill sets are most successful at what civilian jobs.</p>

								<p>The current military - civilian job translators are based on ancient Department of Labor data that doesn't even include jobs like Data Science, Social Media Marketing, or other newer fields that are in high demand.</p>

								<p>We are tired of the frustrating experience and will create our own set of data based on your stories to make a better transition for service members and better employment history data for civilian employers to allow them to hire more veterans and place them in better suited jobs.</p>

								<p>Join us and share your story.  By sharing your story through a quick survey, we are working to help service members improve their odds.</p>

								<p id="signature">Thank you,<br><br><span>Johannes, Paul, Christopher</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
