<template name="header">
	<nav class="header-wrapper navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img src="logo.png" alt="Logo" class="img-responsive">
				</a>
			</div>

			<div class="phone hidden-sm hidden-xs">
				<span>Call 253-235-3045</span>
			</div>

			<div class="navbar-right-wrapper">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<button data-toggle="dropdown" class="dropdown-toggle nav-right-toggle btn btn-info">
							<i class="fa fa-bars"></i>
						</button>
						<ul class="dropdown-menu">
							<li><a id="first-ld-link">Take Survey</a></li>
							<li><a href="/about-us">About Us</a></li>
							<li><a href="/contact-us">Contact Us</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</template>

<template name="offScreenNav">
	<!-- <div class="off-screen-nav">
		<button class="btn close"><i class="fa fa-times"></i></button>
		<ul class="navigation">
			<li class="nav-item"><a href="/about-us">About Us</a></li>
			<li class="nav-item"><a href="/contact-us">Contact Us</a></li>
		</ul>
	</div> -->
</template>
